bin/
obj/
csapp.cbp
csapp.depend
csapp.layout
test.c
t.c
a.out
missing

TAGS
tags

# Object files
*.o
*.s
*.out
# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
